{% if _table['SETUP']['LASTHEARD'] == True %}
{% include 'lastheard.html' ignore missing %}
{% endif %}
<fieldset style="background-color:#1D2024;text-align: lef; margin-left:15px;margin-right:15px;font-size:14px;">
<legend style="text-align: center;"><b><font color="#ffffff"><br>&nbsp;ESTADO HBLINK&nbsp;</font></b></legend>
     {% if _table['MASTERS']|length >0 %}
<table style="table-layout:fixed;width:100%; font: 10pt arial, sans-serif">
    <tr style="font: 9pt arial, sans-serif; background-color:#262B31; color:#979DA2; height:50px;">
        <th style='width: 120px;'>HB Protocol</th>
        <th style='width: 250px;'>Callsign (DMR Id)</th>
        <th style='width: 90px;'>Time Connected</th>
        <th style='width: 40px;'>Slot</th>
        <th style='width: 50%;'>Source Subscriber</th>
        <th style='width: 40%;'>Destination</th>
    </tr>

    {% for _master in _table['MASTERS'] %}    

    <tr style="background-color:#000;color:#fff;">
        <td style="font-weight:bold" rowspan="{{ (_table['MASTERS'][_master]['PEERS']|length * 2) +1 }}"> {{_master}}<br><div style="font: 8pt arial, sans-serif;color:#fff;">{{_table['MASTERS'][_master]['REPEAT']}}</div></td>
    </tr>


    {% for _client, _cdata in _table['MASTERS'][_master]['PEERS'].items() %}
    <tr style="background-color:#121315; height:30px; color:#fff;">
        <td rowspan="2"><div class="tooltip"><b><font color=#0066ff>{{ _client }}, {{ _cdata['CALLSIGN'] }}</font>
        </b><span style="font: 8pt arial,sans-serif"></span><span class="tooltiptext">
        <span style="font: 9pt arial,sans-serif;color:#FFFFFF; background:#000;">

            {% if _cdata['RX_FREQ'] == 'N/A' and _cdata['TX_FREQ'] == 'N/A' %}
             &nbsp;&nbsp;&nbsp;<b><font color=yellow>IP Network</font></b><br>
        {% else %} 

                

            &nbsp;&nbsp;&nbsp;<b><font color=yellow>Radio</font></b>:<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>RX</b>: {{ _cdata['RX_FREQ'] }}<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>TX</b>: {{ _cdata['TX_FREQ'] }}<br>
        {% endif %}
         &nbsp;&nbsp;&nbsp;<b>Type/Slot</b>: {{ _cdata['SLOTS'] }}
        <br>&nbsp;&nbsp;&nbsp;<b>Soft_Ver</b>: {{_cdata['SOFTWARE_ID'] }}
        <br>&nbsp;&nbsp;&nbsp;<b>Hardware</b>: {{_cdata['PACKAGE_ID'] }}</span></span></div>
        <br><div style="font: 92% arial,sans-serif; color:#b5651d;font-weight:bold">{{_cdata['LOCATION']}}
        
        

        
        </div></td>
        <td style="background-color:#000;font: 10pt arial, sans-serif;" rowspan="2">{{ _cdata['CONNECTED'] }}</td>
        <td style="font: 10pt arial, sans-serif;background-color:#{{ _cdata[1]['BGCOLOR'] }}; color:#{{ _cdata[1]['COLOR'] }}"><span style="color:#{{ _cdata[1]['COLOR'] if _cdata[1]['BGCOLOR'] == 'F00' else 'F00'}}">TS1</span></td>
        <td style="font: 10pt arial, sans-serif;background-color:#{{ _cdata[1]['BGCOLOR'] }}; color:#{{ _cdata[1]['COLOR'] }}">{{ _cdata[1]['SUB'] }}</td>
        <td style="font: 10pt arial, sans-serif;background-color:#{{ _cdata[1]['BGCOLOR'] }}; color:#{{ _cdata[1]['COLOR'] }}">{{ _cdata[1]['DEST'] }}</td>
        <tr style="background-color:#262B31; height:30px;">
        <td style="font: 10pt arial, sans-serif;background-color:#{{ _cdata[2]['BGCOLOR'] }}; color:#{{ _cdata[2]['COLOR'] }}"><span style="color:#{{ _cdata[2]['COLOR'] if _cdata[2]['BGCOLOR'] == '26FE0B' else '26FE0B'}}">TS2</span></td>
        <td style="font: 10pt arial, sans-serif;background-color:#{{ _cdata[2]['BGCOLOR'] }}; color:#{{ _cdata[2]['COLOR'] }}">{{ _cdata[2]['SUB'] }}</td>
        <td style="font: 10pt arial, sans-serif;background-color:#{{ _cdata[2]['BGCOLOR'] }}; color:#{{ _cdata[2]['COLOR'] }}">{{ _cdata[2]['DEST'] }}</td>
        </tr>

    </tr>  
    
    


    {% endfor %}
{% endfor %}
</table>
 {% else %}
         <table style='width:100%; font: 13pt arial, sans-serif'>
             <tr style='border:none; background-color:#1D2024; color:#ff0;'>
             <td style='border:none;height:60px;'><font color=brown><b><center>Esperando datos del servidor HBLink ...</center></b></td>
             </tr>
            </table>
 {% endif %}


 <br><br> 



{% if _table['PEERS']|length >0 %}
<br>
<table style="table-layout:fixed;width:100%; font: 10pt arial, sans-serif">
    <tr style="font: 9pt arial, sans-serif;  background-color:#262B31; color:#979DA2; height:50px;">
        <th style='width: 120px;'>HB Protocol</th>
        <th style='width: 250px;'>Callsign (DMR Id)</th>
        <th style='width: 90px;'>Connected<br>TX/RX/Lost</th>
        <th style='width: 42px;'>Slot</th>
        <th style='width: 50%;'>Source Subscriber</th>
        <th style='width: 40%;'>Destination</th>
    </tr>
    {% for _peer, _pdata  in _table['PEERS'].items() %}
    <tr style="background-color:#25292C; height:30px;color:#fff;">
        <td style="font-weight:bold;text-align: center;" rowspan="2"> {{ _peer}}<br><span style="font-weight:normal; font: 7pt arial, sans-serif;">&nbsp;&nbsp;Mode: {{ _table['PEERS'][_peer]['MODE'] }}</span></td>
        <td rowspan="2"><div class="tooltip"><b><font color=#0066ff>{{_table['PEERS'][_peer]['RADIO_ID']}},{{_table['PEERS'][_peer]['CALLSIGN']}}</font></b><span style="font-weight:normal; font: 12pt arial, sans-serif;color:#0066ff">,{{ _table['PEERS'][_peer]['LOCATION'] }}</span><span class="tooltiptext">&nbsp;&nbsp;&nbsp;<b>Linked Time Slot: <font color=yellow>{{ _table['PEERS'][_peer]['SLOTS'] }}</font></b></span></div><br><div style="font: 92% arial, sans-serif; color:#b5651d;font-weight:bold">Master: {{_table['PEERS'][_peer]['MASTER_IP']}}</div></td>
        <td rowspan="2"; style="font: 9pt arial, sans-serif;{{ 'background-color:#262B31' if _table['PEERS'][_peer]['STATS']['CONNECTION'] == 'YES' else ';background-color:#262B31' }}">{{ _table['PEERS'][_peer]['STATS']['CONNECTED'] }}<br><div style="font: 8pt arial, sans-serif;">{{ _table['PEERS'][_peer]['STATS']['PINGS_SENT'] }} / {{ _table['PEERS'][_peer]['STATS']['PINGS_ACKD'] }} / {{ _table['PEERS'][_peer]['STATS']['PINGS_SENT'] - _table['PEERS'][_peer]['STATS']['PINGS_ACKD'] }}</div></td>
        <td style="font: 10pt arial, sans-serif;background-color:#{{ _pdata[1]['BGCOLOR'] }}; color:#{{ _pdata[1]['COLOR'] }}"><span style="color:#b70101; background:#1C1F21 ;">TS1</span></td>
        <td style="font: 10pt arial, sans-serif;background-color:#{{ _pdata[1]['BGCOLOR'] }}; color:#{{ _pdata[1]['COLOR'] }}">{{ _pdata[1]['SUB'] }}</td>
        <td style="font: 10pt arial, sans-serif;background-color:#{{ _pdata[1]['BGCOLOR'] }}; color:#{{ _pdata[1]['COLOR'] }}">{{ _pdata[1]['DEST'] }}</td>
        <tr style="background-color:#1D2024; height:30px;">
        <td style="font: 10pt arial, sans-serif;background-color:#{{ _pdata[2]['BGCOLOR'] }}; color:#{{ _pdata[2]['COLOR'] }}"><span style="color:#{{ _pdata[2]['COLOR'] if _pdata[2]['BGCOLOR'] == '26FE0B' else '26FE0B'}}">TS2</span></td>
        <td style="font: 10pt arial, sans-serif;background-color:#{{ _pdata[2]['BGCOLOR'] }}; color:#{{ _pdata[2]['COLOR'] }}">{{ _pdata[2]['SUB'] }}</td>
        <td style="font: 10pt arial, sans-serif;background-color:#{{ _pdata[2]['BGCOLOR'] }}; color:#{{ _pdata[2]['COLOR'] }}">{{ _pdata[2]['DEST'] }}</td>
        </tr>
    </tr>
    {% endfor %}
</table>
{% endif %}
</fieldset>
